.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
}
.nav_left {
    flex: 1;
}
.nav_right {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

.nav_right li {
    display: inline-block;
}

.nav_right a {
    display: inline-block;
    padding: 10px 20px; /* Padding for the button effect */
    background-color: #15616D;
    color: white; /* White text color */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.nav_right a:hover {
    background-color: #FF6F61; /* Secondary color for hover effect */
}